body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #22223b;
  margin: 0px;
}

a {
  color: #22223b;
  text-decoration: none;
}

input {
  accent-color: #ff4d6e;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

header {
  background-color: #f2e9e4;
  margin-bottom: 4%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer {
  background-color: #c9ada7;
}

.lora {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

/* Nav */

header {
  /* position: relative; make it working in @Media querry */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 12%; */
}

/* header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

body:hover head.hidden {
  transform: translateY(0);
  opacity: 0;
} */

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}

.left {
  display: flex;
  flex: 1 50%;
  align-items: center;
  gap: 100px;
}

/* .bar {
  display: block;
  background-color: #333;
  height: 4px;
  width: 30px;
  margin: 6px auto;
  transition: 0.4s;
} */

/* #menu-toggle:checked + .hamburger-menu .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
} */

/* .hamburger-menu {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 30px;
  position: relative;
} */

.menu-label,
#menu-toggle {
  display: none;
}

/* #menu-toggle {
  position: relative;
} */

.mobile-menu {
  display: none;
  position: absolute;
  /* top: 115px; */
  left: 0;
  background-color: #fff;
  width: 100%;
  /* height: 100%; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li a {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* .mobile-menu li a:last-child {
  padding-bottom: 0px;
} */

#menu-toggle:checked ~ .mobile-menu {
  display: block;
  max-height: 500px;
}

.header-logo {
  width: 20vh;
}

header img {
  cursor: pointer;
}

.header-nav input {
  border-radius: 25px;
  border-color: #fff;
  border-style: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  font-size: 1.2rem;
  padding: 10px;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex: 1;
  gap: 50px;
  font-size: 1.4rem;
}

.center a {
  padding: 10px;
}

.center a:hover {
  font-weight: 500;
}

.header-nav aside {
  display: flex;
  flex: 0 0 auto;
  justify-self: end;
  gap: 30px;
}

.header-nav aside img {
  padding: 10px;
  width: 30px;
  height: auto;
}

/* Home page */

.main-index-section {
  position: relative;
}

.main-text {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.main-text p {
  font-size: 3vh;
}

.main-text h2 {
  font-size: 5vh;
}

.image-container {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-container > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: change-image 15s infinite;
  opacity: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.image-container > div:nth-child(2) {
  animation-delay: 5s;
}

.image-container > div:nth-child(3) {
  animation-delay: 10s;
}

@keyframes change-image {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
  }
}

.index-second-section {
  margin: 7% auto;
  text-align: center;
}

.index-second-section h1 {
  font-size: 7vh;
}

.index-second-section p {
  font-size: 4vh;
}

.index-third-section {
  display: flex;
  justify-content: space-between;
}

.index-third-section div img {
  opacity: 0.7;
  transition: 1s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.index-third-section div {
  overflow: hidden;
}

.index-men img:hover,
.index-women img:hover {
  opacity: 1;
  scale: 1.05;
}

.index-men,
.index-women {
  position: relative;
  max-height: 70vh;
}

.index-men h2,
.index-women h2 {
  font-size: 3vh;
  position: absolute;
  bottom: 10%;
  right: 40%;
  color: #fff;
  z-index: 100;
  transform: translate(30%, 50%);
}

.index-fourth-section {
  margin: 7% auto;
  text-align: center;
  font-size: 4vh;
}

.index-fourth-section p:first-child {
  font-size: 6vh;
}

/* Contact */

.contact-big-field {
  border: #22223b solid 1px;
  border-radius: 10px;
  margin: 40px 0px;
  height: 150px;
  width: 100%;
}

.contact-typing-fields {
  display: flex;
}

.contact-typing-fields input {
  border: #22223b solid 1px;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  padding: 10px;
}

.contact-typing-fields input:first-child {
  margin-right: 5px;
}

.contact-typing-fields input:nth-child(2) {
  margin: 0px 5px;
}

.contact-typing-fields input:last-child {
  margin-left: 5px;
}

.contact-content {
  margin: 150px 50px;
}

.contact-fields {
  display: flex;
}

.contact-fields div {
  width: 100%;
  height: 130px;
  margin: 40px 0px;
}

.contact-fields div:first-child {
  margin-right: 15px;
}

.contact-fields div:last-child {
  margin-left: 15px;
}

.contact-fields p {
  margin-left: 50px;
}

.contact-fields h3 {
  margin-left: 50px;
}

.contact-check-fields {
  display: flex;
  justify-content: space-between;
}

/* .contact-check {
  height: 40px;
  width: 20%;
  height: auto;
  border: #22223b solid 1px;
  padding: 5px 0px;
  position: relative;
  display: flex;
  align-items: center;
} */

/* #robot-check {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
} */

/* .robot-check-label {
  padding-right: 25px;
}

.contact-check img {
  margin-left: auto;
  margin-right: 25px;
  height: auto;
  max-height: 40px;
  width: 40px;
} */

.send-button {
  height: auto;
  width: 10%;
  background-color: #22223b;
  font-size: 30px;
  color: #fff;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
}

.hr {
  border: none;
  border-top: 2px solid #000;
  opacity: 0.2;
}

.second-hr {
  margin-bottom: 50px;
}

/* Checkout */

.checkout-main-content {
  display: flex;
  justify-content: space-between;
}

.basket {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vh;
  height: 25vh;
}

.checkout-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  border-color: #f2e9e4;
  border-radius: 10px;
  background-color: #f2e9e4;
}

.basket img {
  width: 110px;
  height: 140px;
  margin-left: 5px;
  margin-top: 15px;
}

.b-t-child {
  display: flex;
  flex-direction: column;
  height: 210px;
}

#trash {
  width: 30px;
  height: 50px;
  color: #22223b;
}

#trash:hover {
  scale: 1.2;
  transition: 0.5s;
}

.basket-item-name {
  margin-top: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: solid 2px;
  border-radius: 15%;
}

.plus {
  background-color: rgba(0, 0, 0, 0.2);
}

.plus:hover {
  scale: 1.1;
  transition: 0.5s;
}

.minus {
  background-color: rgba(0, 0, 0, 0.2);
}

.minus:hover {
  scale: 1.1;
  transition: 0.5s;
}

.checkout-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sum {
  width: 50vh;
  height: 18vh;
  margin-bottom: 100px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.line2 {
  display: flex;
  justify-content: space-between;
}

.row1 {
  margin-top: 20px;
  margin-left: 5px;
}

.row2 {
  margin-top: 20px;
  margin-right: 15px;
}

.cost {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-border {
  border: solid 2px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card-info {
  width: 60vh;
  height: 30vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.card-info > img {
  grid-row: 1;
  grid-column: span 2;
  justify-self: end;
}

.card-info > div {
  background-color: #f8f5f4;
}

.card-info > div:nth-child(4),
.card-info > div:nth-child(5) {
  padding: 0 10px;
}

.card-name {
  grid-row: 2;
  grid-column: span 2;
}

.card-number {
  grid-row: 3;
  grid-column: span 2;
}

.card-mm-yy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-cvc {
  display: flex;
  justify-content: space-between;
}

.card-cvc div {
  display: flex;
  align-items: center;
}

.card-cvc p {
  margin-left: 10px;
}

#payment-methods {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.pay-now {
  width: 50%;
  height: 40px;
  background-color: #22223b;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 40px;
  cursor: pointer;
}

.pay-now:hover {
  background-color: #9a8c98;
  transition: 0.5s;
}

/* Checkout success */

.checkout-main {
  margin: auto;
  text-align: center;
}

.checkout {
  margin: auto;
  width: 50%;
  text-align: center;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #22223b;
  opacity: 0.3;
  margin: auto;
  box-shadow: 2px 1px 4px;
}

.checkout-thumb img {
  margin: 50px;
}

.checkout-thumb img:hover {
  scale: 1.2;
  transition: 0.5s;
}

/* Empty basket */

.basket-main img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 12%;
  display: block;
}

.empty-basket-pic {
  width: 30vh;
}

.basket-main h1 {
  text-align: center;
  line-height: 50px;
}

.basket-picture {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 60vh;
  height: auto;
  margin: 0 auto;
}

.basket-picture img {
  flex: 1 1 auto;
  width: 20vh;
}

/* Collections */

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7% 3%;
  align-items: first baseline;
  padding-bottom: 35%;
}

.collection h1 {
  grid-column: -1/1;
  font-size: 50px;
  color: #000;
}

.collection img {
  border-radius: 40px 40px 0px 0px;
}

.collection-image {
  height: 45vh;
}

.collection-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.collection-item {
  border: solid 1px #22223b;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 700px;
}

.collection-item h5 {
  background-color: #22223b;
  color: #fff;
  padding: 10px 50px;
  text-align: center;
}

.collection-content {
  height: 240px;
  margin-left: 30px;
  margin-right: 30px;
}

.collection-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-content-row h2 {
  font-size: 2rem;
}

.collection-content-row h5:hover {
  background-color: #9a8c98;
  transition: 0.5s;
}

.more-products {
  font-size: 1.1rem;
  border: 2px solid #22223b;
  padding: 0 50px;
  align-self: end;
  grid-row: span 1;
  grid-column: span 3;
  justify-self: center;
}

.more-products:hover {
  background-color: #22223b;
  color: #fff;
  transition: 0.5s;
}

/* Product details */

.button-back {
  width: 3%;
  height: 100%;
  margin-bottom: 2%;
}

.details-first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 13vh;
  gap: 20px;
}

.details-right {
  grid-column: 2;
}

.slider {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 60%;
  overflow: hidden;
}

.slider-images {
  display: flex;
}

.slider-images img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.slider-images input {
  display: none;
}

.nav-images {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav-images label img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav-images label:hover {
  border: solid #000 2px;
}

#img1:checked ~ .image-1 {
  margin-left: 0;
}
#img2:checked ~ .image-2 {
  margin-left: -100%;
}
#img3:checked ~ .image-3 {
  margin-left: -200%;
}
#img4:checked ~ .image-4 {
  margin-left: -300%;
}

.details-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 3fr;
  gap: 5px;
}

.details-right h1 {
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}

.details-right h2 {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}

.details-right h3 {
  grid-row: 2;
  grid-column: 1;
  margin: 0;
}

.details-right p {
  grid-row: 3;
  grid-column: span 2;
  margin: 0;
}

.details-right div {
  grid-row: 4;

  align-items: center;
  display: flex;
  border: solid #000 1px;
  height: 3rem;
  justify-content: space-between;
  padding: 0 5px;
}

.details-right div:hover {
  border: solid #000 2px;
}

.details-right div img {
  width: 2rem;
}

.shopping-btn div {
  background-color: #22223b;
  color: #fff;
  grid-row: 2;
  grid-column: 2;
  width: 50%;
  margin: 5px 0;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.shopping-btn div:hover {
  background-color: #9a8c98;
  transition: 0.5s;
}

.other-products {
  margin-top: 15%;
  margin-bottom: 8%;
  font-size: 2rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
  height: 15vh;
}

footer .footer-left {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

footer .footer-left a {
  padding: 10px;
}

footer .footer-left a:last-child {
  margin-left: 100px;
}

footer .footer-right {
  margin-right: 10%;
  max-height: 100%;
}

footer .footer-right a {
  display: flex;
  align-items: center;
  height: 3vh;
  margin: 10px 0px;
}

footer .footer-right a p {
  padding-left: 15px;
  margin: 10px 0px;
}

footer .footer-right a img {
  height: 23px;
}

/* Media queries */

/* Nav */

@media screen and (max-width: 900px) {
  .menu-label {
    display: block;
  }

  .header-logo {
    width: 100px;
  }

  .search,
  .center {
    display: none;
  }

  .left {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav input {
    width: 400px;
  }
}
