body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #22223b;
  margin: 1;
}

.header-logo {
  width: 200px;
}

header {
  background-color: #f2e9e4;
}

footer {
  background-color: #c9ada7;
}

.lora {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.lora-main {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.lora-woman {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.lora-details {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.collection-item {
  width: 300px;
  height: 400px;
}

.collection-picture {
  width: 150px;
}

.carousel {
  margin: 40px;
  display: flex;

  width: 445px;
}

.small-picture {
  height: 100px;

  margin: 5px;
}
