body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #22223b;
  margin: 1;
}

a {
  color: #22223b;
  text-decoration: none;
}

.header-logo {
  width: 200px;
}

header {
  background-color: #f2e9e4;
}

footer {
  background-color: #c9ada7;
}

.lora {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.lora-main {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.lora-details {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.collection-item h2 {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.collecion-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.collection-item {
  width: 300px;
  height: 450px;
}

.collection-item img {
  width: 150px;
}

.slider-nav img {
  width: 100px;
  margin: 5px;
}

.slider {
  width: 445px;
  display: flex;
  overflow-x: auto;
  height: 500px;
}

.slider-nav {
  width: 445px;
  display: flex;
}
